{%  extends 'base.html'  %}

{%  block content  %}
{% if notify > 0  %}
<h5>You have {{notify}} <a href="/notifications/">notification(s)</a>!</h5>
{%  endif  %}


<h2>Tweets</h2>

  {%  if combined  %}
    {%  for tweet in combined  %}
      <p><b><a href="/{{  tweet.posted_by  }}/">{{  tweet.posted_by  }}</a></b> says "<a href="/tweet/{{  tweet.id  }}">{{  tweet.tweet  }}</a>"  </p>
      <p><small>Posted on {{  tweet.date_posted  }}</small></p>
    {%  endfor  %}
  {%  else  %}
    <h3>No tweets to display!!</h3>
  {%  endif  %}



{%  endblock  %}